node_modules
.git
.github
.vscode
.env
.env.*
!.env.example
*.md
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
docker
docker-compose.yml
.dockerignore
phpunit.xml
.gitignore
.vscode
*.sqlite
